<form (ngSubmit)="addToShoppingLsit(f)" #f="ngForm">
  <div class="input-group flex-nowrap">

    <input type="text" class="form-control" placeholder="Name" name="name" ngModel required>
    <input type="number" class="form-control" placeholder="Amount" name="amount" ngModel required pattern="^[1-9]\d*$">

    <button class="btn btn-primary mx-1" [disabled]="!f.valid"
      type="submit">{{ editingMode ? 'Update' : 'Add '}}</button>
    <button class="btn btn-dark" type="button" (click)="onClear(f)">Clear</button>
  </div>
</form>